/* PurchaseSuccessfulPage.css */

.purchase-successful-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .success-message {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .pur {
    color: #4caf50;
  }
  
  p {
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Add any additional styles based on your design preferences */
  